<ion-header>
    <ion-toolbar color = 'primary'>
    <ion-grid class="toolbar">
      <ion-row>
        <ion-col class="toolbar" size="2">
          <ion-back-button></ion-back-button>
        </ion-col>
        <ion-col class="toolbar title" size = "8">
          <ion-title class="toolbar">Listado Usuarios</ion-title>
        </ion-col>
        <ion-col class="button" size = "2">
          <ion-icon  [name]="editSave" (click)="editarGuardar()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Agregar boton de guarda y que este deshabilitado, cuando cambien un estado se habilite-->
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios; let i = index">
      <ion-label>{{usuario.nombre}}</ion-label>
      <ion-label position="fixed" class="pago" *ngIf="!habilitar && usuario.estado">Pagó</ion-label>
      <ion-label *ngIf="habilitar && !usuario.estado"></ion-label>
      <ion-checkbox color = "dark" slot="start" *ngIf = "habilitar" [(ngModel)]="usuario.estado" (ionChange)="validarPago(i)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <!--ion-button class="btnSave" expand="block" [disabled]="!habilitar" (click) = "guardar()">Guardar</ion-button-->
</ion-content>