<ion-tabs>
  <ion-tab-bar color = "secondary" slot="bottom">

    <ion-tab-button tab="admin-tab1">
      <ion-icon class = "icono" name="people"></ion-icon>
      <ion-label>Asistentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-tab2">
      <ion-icon class = "icono" name="apps"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin-tab3">
      <ion-icon class = "icono" name="person"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>