<ion-header>
    <ion-toolbar>
      <ion-title>
        Asistentes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="card" *ngFor="let evento of eventos" (click)="verAsistentes(evento.id)">
        <ion-card-header>
          <ion-card-title>{{evento.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>
              Fecha de Inicio: {{evento.fechaIniRecorrido}}
          </h3>
          <h3>
              Fecha Finalización: {{evento.fechaFinRecorrido}}
          </h3>
        </ion-card-content>
      </ion-card>
  </ion-content>
  