<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" *ngFor="let evento of eventos; let i = index">
    <img class="imgRecorrido" [src]="evento.recorrido.imagen" />
    <ion-card-header>
      <ion-card-title>{{evento.tituloEvento}}</ion-card-title>
      <ion-row>
        <!--valor: {{evento.recorrido.valor}}-->
        <br>
        Difiultad: {{evento.recorrido.dificultad}}
        <br>
        Distancia: {{evento.recorrido.distancia}} km
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      {{evento.recorrido.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>