.imgRecorrido{
    margin: auto;
    width: 70%;
    padding-top: 2%;
}

.card{
    background-color: #ffffff;
}

.boton{
    margin: auto;
    padding-bottom: 2%;
    padding-right: 2%;
    float: right;
}