.toolbar{
    padding: 0;
}

.title{
    margin: auto;
    padding-right: 10%;
}

.boton{
    margin-left: 90%;
    margin-bottom: 2%;
    vertical-align: center;
}

.img{
    max-width: 40%;
    max-height: 40%;
    margin: auto;
    align-items: center;
}



