<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Eventos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="card" *ngFor="let evento of eventos; let i = index">
        <img class="imgRecorrido" [src]="evento.recorrido.imagen" />
        <ion-card-header>
          <ion-row>
            <ion-col size="8">
                <ion-card-title>{{evento.tituloEvento}}</ion-card-title>
            </ion-col>
            <ion-col>
                <ion-button size="small">Editar</ion-button>
            </ion-col>
          </ion-row>
          
          <ion-row>
              <!--valor: {{evento.recorrido.valor}}-->
              <br>
              Difiultad: {{evento.recorrido.dificultad}}
              <br>
              Distancia: {{evento.recorrido.distancia}} km
            </ion-row>
        </ion-card-header>
        <ion-card-content>
          {{evento.recorrido.descripcion}}
        </ion-card-content>
      </ion-card>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-content>
  